@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #cef5d3;
  --foreground: #15191c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #15191c;
    --foreground: #e7fff3;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: poppins;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* Hides scrollbar in IE/Edge */
  scrollbar-width: none;  /* Hides scrollbar in Firefox */
}


.boxauto{
  background: #15191c;
  border-radius: 9px;
  margin: 3px;
  padding: 7px;
}